* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #878184;
  }
  
  span{
    font-weight: 700;
  }
  
  
  .info-card {
    width: 400px;
    height: 500px;
    color: rgb(37, 25, 32);
    background-color: white;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  img {
    height: 160px;
    width: 140px;
    border-radius: 50%;
    border: 5px solid rgb(174, 56, 125);
  }
  
  h1{
    font-size: 1.25rem;
  }
  
  .sourcecode {
    display: block;
    text-decoration: none;
    background-color: rgb(174, 56, 125);
    padding: 0.9rem 1.5rem;
    color: rgb(252, 249, 249);
    border-radius: 5px;
    margin-top: 20px;
  }

  .sourcecode:hover{
    background-color: rgb(252, 249, 249);
    color:rgb(174, 56, 125);
  }